body {
    font-family: sans-serif;
    max-width: 280px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px 0;
    border: 1px solid black;
    border-radius: 10px;
}
.container {
    display:  flex;
    flex-direction:  column;
    align-items: left;
}
input {
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;
}
.container-temp {
    display: flex;
    justify-content: space-between;
}
h2 {
    display: flex;
}
.weather-condition {
    display: flex;
    justify-content: flex-end;
    max-width: 50%;
}
.weather-city {
    font-weight: bold;
}
.weather-details {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}
img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}